.sidebar {
  width: 250px;
  height: 100vh; 
  background-color: #828b8e; 
  color: rgb(234, 234, 234); 
  padding: 15px; 
  position: fixed; 
  top: 22px; 
  resize: horizontal;
}

  
  .home-container {
    display: flex; /* Flex container */
  }
  
  .content {
    margin-left: 220px; /* Margin to prevent overlap with sidebar */
    padding: 20px; /* Some padding for content */
  }
  